/* client/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: block; /* This fixes the shifting! Default was 'flex' */
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}